<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Mummypedia - Microsite</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/main-mobile.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <div id="root">
            <div class="landing-page">
                <div class="sec-chatbox">
                    <div class="wrap">
                        <div class="container-fluid">
                            <div class="row">
                                <div id="logo" class="col-lg-12 col-md-12 col-sm-12 col-sx-12"></div> 
                            </div>
                            <div class="row" v-for="question in question">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 text-primary tagline"> {{ question.question }} </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-4">
                                    <!-- <div id="tip-warning" class="alert alert-danger alert-dismissible text-center warning" role="alert">
                                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <span id="tip-warning-txt"></span>
                                    </div> -->
                                    <div class="co co-top"></div>
                                    <textarea id="co-enter-tip" class="co-textarea" maxlength="200" v-model="tip">Enter your Mummypedia tip here...</textarea>
                                    <div class="co co-bottom"></div>
                                    <div class="col-lg-12 col-sm-4 text-center">
                                        <button id="btn-submit-tip" class="btn btn-primary" @click="showEditTipModal= true;">SUBMIT TIP</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row co-desc">
                                <div class="col-lg-12 col-sm-4 text-secondary">
                                    And if you do share your tip, you might just win...
                                </div>
                            </div>
                            <div id="carousel-prizes" class="owl-carousel owl-theme col-lg-12 col-md-12 col-sm-4 col-sx-4 text-center prize">
                                <div v-for="prize in prizes">
                                    <div class="text-primary prize-title"> {{ prize.prizeTitle }} </div>
                                    <div class="text-secondary prize-desc"> {{ prize.prizeDesc }} </div>
                                    <div>
                                        <img class="img-circ" :src=" prize.prizeImg ">
                                    </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                    <div class="text-secondary">Scroll for inspiration</div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                        <div class="scroll"></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sec-gallery">
                    <div class="wrap">
                        <div class="container-fluid">
                            <div id="carousel-gallery" class="owl-carousel owl-theme">
                                <div v-for="tip in tips">
                                    <img :src=" tip.tipUrl "> 
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button id="btn-gallery" class="btn btn-secondary">GO TO GALLERY</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sec-videos">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center">
                                <span class="text-inverse prize-title">WATCH OUR VIDEO</span>
                            </div>
                        </div>
                        <div class="wrap">
                            <div class="row video-box">
                                <div v-for="video in videos">
                                    <iframe class="v-iframe col-lg-3 col-md-3 col-sm-6 col-xs-6" width="400" height="200" :src=" video.videoUrl " frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="sec-recipes">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 divider text-center">
                                <span class="text-inverse prize-title">BREAKFAST RECIPES</span>
                            </div>
                        </div>
                        <div class="wrap">
                            <div class="row recipe-box text-center">
                                <img class="col-lg- col-md-2 col-sm-6 col-xs-6 recipes-img" v-for="recipe in recipes" :src="recipe.recipesUrl">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sec-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                <div class="backto_top text-tertiary">Back to top</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                <div class="scroll"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mp-modal" id="edit-tip" v-if="showEditTipModal">
                <div class="mp-modalContainer">
                    <!-- <div class="mp-modalHeading">
                        Heading
                    </div> -->
                    <div class="mp-modalContent">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <div class="et-container">
                                        <div class="et-header"></div>
                                        <div id="editedtip" class="et-body" contenteditable="true" >
                                            {{ tip }}
                                        </div>
                                        <div class="et-footer"></div>
                                    </div>
                                </div>  
                            </div>
                            <div class="sec-guide row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div>Here's a preview of your tip. Feel free to edit directly onto your tip before you submit it to mummypedia.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button id="submit-btn" class="btn btn-primary" @click="showEditTipModal = false; showRegistrationModal=true;
                                        sendTip()" >SUBMIT MY TIP</button>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <a href="#">
                                        <div class="tnc" data-target="#tnc-container" data-toggle="modal">
                                            TERMS AND CONDITION
                                        </div>  
                                    </a>
                                </div>
                            </div>

                            <div id="tnc-container" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            Terms and Conditions
                                        </div>
                                        <div class="modal-body">
                                            <!-- {{ tncContent }} -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="mp-modal" id="registration" v-if="showRegistrationModal">
                <div class="mp-modalContainer">
                    <div class="mp-modalContent">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6"><!-- /preview-image -->
                                <div class="et-container">
                                    <div class="et-header"></div>
                                    <div id="finalTip" class="et-body">
                                        {{ tipToSend }}
                                    </div>
                                    <div class="et-footer"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12 registration">
                                <div class="registration-page">
                                    <div class="registration-header">
                                        <h1 id="registration-title">REGISTER</h1>
                                        <p>To submit your mummypedia tip</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 justify-content-sm-center">
                                            <button id="btn-fb-register" class="btn btn-facebook btn-block">FACEBOOK CONNECT</button>
                                        </div>
                                    </div>

                                    <div class="row hr-container">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hr"></div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hr-txt"> OR</div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hr"></div>
                                    </div>  

                                    <form>
                                        <div class="form-group">
                                            <input id="name" type="text" title="Please enter your name." class="form-control" placeholder="NAME" required v-model="userDetails.username">
                                        </div>
                                        <div class="form-group">
                                            <input id="number"  type="number" class="form-control" placeholder="NUMBER" required v-model="userDetails.mobile">
                                        </div>
                                        <div class="form-group">
                                            <input id="address" type="text" class="form-control"  placeholder="ADDRESS" required v-model="userDetails.address">
                                        </div>
                                        <div class="form-group">
                                            <input id="email" type="email" class="form-control" placeholder="EMAIL" pattern="^\S+@\S+\.\S+$" required v-model="userDetails.email">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input id="tnc" type="radio" required> I agree with the Terms and Conditions
                                            </label>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button class="btn btn-primary btn-block" @click=" showRegistrationModal = false; showLoginModal = true; saveUserInfoAndTip(); selectUser(userDetails)">CONTINUE</button>
                                                <button id="btn-login" class="btn btn-default btn-block">LOGIN</button>
                                            </div>
                                        </div>

                                    </form> 
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="mp-modal" id="login" v-if="showLoginModal">
                <div class="mp-modalContainer">
                    <div class="mp-modalContent">

                          <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="et-container">
                                    <div class="et-header"></div>
                                    <div id="finalTip" class="et-body">
                                        {{ tipToSend }}
                                    </div>
                                    <div class="et-footer"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12 registration">
                                <div class="registration-page">
                                    <div class="registration-header">
                                        <h1 id="registration-title">LOGIN</h1>
                                        <p>To submit your mummypedia tip</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="errorMessage" v-if="errorMessage"> 
                                                {{errorMessage}}
                                            </p>
                                            <p class="successMessage" v-if="successMessage"> 
                                                {{successMessage}}
                                            </p>   
                                        </div>      
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 justify-content-sm-center">
                                            <button id="btn-fb-register" class="btn btn-facebook btn-block">FACEBOOK CONNECT</button>
                                        </div>
                                    </div>

                                    <div class="row hr-container">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hr"></div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hr-txt"> OR</div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hr"></div>
                                    </div>  

                                    <form>
                                        <div class="form-group">
                                            <input id="login-name" type="text" title="Please enter your name." class="form-control" placeholder="NAME" required v-model="passValues.username">
                                        </div>
                                        <div class="form-group">
                                            <input id="login-email" type="email" class="form-control" placeholder="EMAIL" pattern="^\S+@\S+\.\S+$" required v-model="passValues.email">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input id="tnc" type="radio" required> I agree with the Terms and Conditions
                                            </label>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <!-- <button class="btn btn-primary btn-block" @click=" showRegistrationModal = false; showLoginModal = true; saveUserInfoAndTip() ">CONTINUE</button> -->
                                                <button id="btn-login" class="btn btn-primary btn-block">LOGIN</button>
                                            </div>
                                        </div>


                                    </form> 
                                    <div class="mp-clear"></div>
                                    
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

        <script src="js/jquery.js"></script>
        <script src="js/axios.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/plugins.js"></script>

        <script src="js/app.js"></script>
        <!-- <script src="js/main.js"></script> -->
        <script src="js/script.js"></script>

        <script type="text/javascript">
            function nutella_resizeIframe() {
                if (parent.postMessage) {
                    var body = $("body,html");
                    body.height('auto');
                    var height = $("body").outerHeight();
                    parent.postMessage({
                        css:{
                            height : height,
                            width : $(window).width()-20,
                            'margin-top' : 100
                        }
                    }, '*');
                }
            }
            function nutella_scrollTop(scrolltop){
                if (parent.postMessage) {
                    parent.postMessage({
                        scrolltop:scrolltop
                    }, '*');
                }
            }
            $(document).ready(function () {
                nutella_resizeIframe();
            });

            $(window).on('load', nutella_resizeIframe);

            var nutellaTO;
            $(window).on('resize', function () {
                clearTimeout(nutellaTO);
                nutellaTO = setTimeout(nutella_resizeIframe, 500);
            });

           //back to top
           $(".backto_top").on('click',function(){
                nutella_scrollTop(100);
                console.log("CLICKED");
           });

        </script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
